<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--扫描除controller以外的注解-->
    <context:component-scan base-package="top.tosim.actrainer">
        <!-- 扫描时跳过 @Controller 注解的JAVA类（控制器）,因为spring-mvc.xml会扫描一遍-->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--开启aop自动代理-->
    <aop:aspectj-autoproxy/>

    <!--导入数据库和mybatis整合的配置-->
    <import resource="spring-mybatis.xml"/>

</beans>